# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
*.mo

# Django media/uploads
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid
*.pid
*.out

# Environment variables
.env
.env.*

# Pytest
.pytest_cache/
.coverage
htmlcov/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebooks
.ipynb_checkpoints/

# Docker
docker-compose.override.yml
*.log
